

.Quiz{
    text-align: center;
    border: 3px solid green;
    clear: both;
}   

#HighScore {

    height: 50px;
    width: 300px;
    background-color: darksalmon;
    float: left;
}

#Timer {

    height: 50px;
    width: 300px;
    background-color: darksalmon;
    float: right;
}