:root{
    --borderColor: navy;
    --bodyColor: rgb(184, 208, 235);
    --hoverColor: yellow;
}

body{
    background-color: var(--bodyColor);
}

li {
    background-color: lightskyblue;
    padding: 8px;
    margin: 4px 4px;
    letter-spacing: 0.05em;
    cursor: pointer;
}

li:hover{
    transform: scale(0.98);
}

li:active{
    transform: scale(0.95);
    opacity: 0.80;
}

.leButton{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 45px;
    border: 3px solid var(--borderColor);
    background-color: var(--bodyColor);
    font-weight: 700;
    letter-spacing: 0.15em;
    cursor: pointer;
}

.leButton:hover{
    background-color: var(--hoverColor);
}

.leButton:active{
    opacity: 0.80;
}

.quizArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    clear: both;
    width: 100%;
}

#HighScore {
    height: 50px;
    width: 272px;
    background-color: var(--bodyColor);
    float: left;
}

#initials {
    padding: 0 4px;
    margin: 0 8px;
}

#gameStart {
    display: initial;
    border: 3px solid var(--borderColor);
    background-color: var(--bodyColor);
    font-weight: 700;
    letter-spacing: 0.15em;
    padding: 8px 45px;
    margin: 20px;
    cursor: pointer;
}

#gameStart:hover{
    background-color: var(--hoverColor);
}

#quizQuestion{
    padding: 10px;
}

#TimeWindow {
    height: 50px;
    width: 350px;
    background-color: var(--bodyColor);
    float: right;
    text-align: center;
    padding: 12px 0px;
}