:root{
    --borderColor: navy;
    --bodyColor: rgb(247, 206, 193);
}

body{
    background-color: var(--bodyColor);
}

li {
    background-color: lightskyblue;
    padding: 8px;

}

li button {
    padding: 0px 8px;
    margin: 0px 16px;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.leButton{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 45px;
    border: 3px solid var(--borderColor);
    font-weight: 700;
    letter-spacing: 0.15em;
    cursor: pointer;
}

.quizArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    clear: both;
    width: 100%;
    border: 3px solid var(--borderColor);
}

#HighScore {
    height: 50px;
    width: 350px;
    background-color: var(--bodyColor);
    float: left;
}

#gameStart {
    display: initial;
    margin: 20px;
}

#TimeWindow {
    height: 50px;
    width: 350px;
    background-color: var(--bodyColor);
    float: right;
    text-align: center;
    padding: 12px 0px;
}